// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

html {
    font-family: Arial;
    //font-size: 16px;
    background: #ffffff;
}

.sidebar {
    position: fixed;
    width: 15%;
    height: 100vh;
    background: #ffffff;
    font-size: 1em;
    //box-shadow: 1px 1px 6px 0px #0808080d;
    z-index: 2;
}

.nav {
    position: relative;
    margin: 0 10%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;

}

.nav ul {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;

    li {


        position: relative;
        margin: 3.2em 0;

        a {
            border-radius: 10px;
            line-height: 3em;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.4em;
            color: rgb(144, 88, 88);
            display: block;
            transition: all ease-out 300ms;
        }



        &:hover a {

            background-color: rgba(rgb(199, 164, 164), 0.2);
            color: rgb(74, 44, 44);

            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 0.3em;
                background: rgba(0, 0, 0, 0);
                left: 0;
                bottom: 0;
                background-image: linear-gradient(to top, #442430eb, #ad3782);
                opacity: 1;
                z-index: 1;
            }
        }



    }
}

.logo_text {
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    background: linear-gradient(to right, #9b4c6a 0%, #624465 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font: {
        size: 3em;
        family: 'Poppins', sans-serif;
        weight: bolder;
    }


}

.right_container {
    background-color: #ffffff;
    position: relative;
    width: 85%;
    float: right;
    height: auto;





    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;



}

.head {
    //position: fixed;

    z-index: 2;

    font-size: 1em;
    //box-shadow: 1px 1px 6px 0px #0808080d;
    width: 100%;
    height: 6vh;
    margin: auto auto;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;

}

.content {
    width: 98%;
    background-color: #f7eded;
    border-radius: 10px 10px 10px 10px;
    margin: 2vh auto;
    min-height: 90vh;
    display: flex;
    padding: 3%;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;

    position: relative;
    //.pager{position: absolute;bottom: 5%;}
    & div.topList>div>div.card {
        box-shadow:4px 4px 12px 2px #cab4b487;
        border: none;
        border-radius: 15px;
        color: white;
        font-weight: 500;
        font-size: 1.8em;
        &:hover{
            filter:drop-shadow(0 0 0 black);

            box-shadow: #94868647 4px 4px 12px 2px;
        }
    }

    & div.topList>div .card-text {
       
        font-size: 1.5em;
       
        text-align: center;
    }

    .table__object {
        border-radius: 15px;
        padding: 2%;
        background-color: #ffffff;


        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow:8px 8px 14px 3px #ece1e1d6;

        i {
            display: none;
        }

        .displayIt {
            display: inline;
            transition: all .3s ease;

            &.rotate {
                transform: rotate(180deg);

                &:before {
                    transform: rotate(180deg);
                }
            }
        }

        .list_product {



            width: 100%;

        }

        div.card {
            // border-style:bolder;
            //border-width: 20px;
            // border: #ffffff;
            width: 100%;
            text-align: center;


            //border-radius: 10px 10px 10px 10px;
            border: none;
            font-size: 1em;
            font-weight: 500;
            color: #583a3a;


            transition: all 0.3s ease-out;

            &:not(#table_th):hover {
                // box-shadow: 0px 0px 8px 1px rgb(141 141 141 / 50%);

                font-size: 1.2em;
                font-weight: bold;
                border-bottom: #694d4d 1PX SOLID;

            }

            &:not(#table_th) {
                border-bottom: #b394948f 1PX SOLID;



                //box-shadow: 0px 0px 8px 1px rgb(141 141 141 / 9%);


            }

            &#table_th {
                border-bottom: #b394948f 1PX SOLID;


            }
        }

        .card-body {
            padding: 0;
        }



        // 			border-top-left-radius: 10px;
        // 			border-bottom-left-radius: 10px;
        // 			border-right: 2px solid #fff9f9;}


        // td{


        //     border-bottom: 10px solid #fff9f9;
        // 		&:nth-child(1) {
        // 			border-top-left-radius: 10px;
        // 			border-bottom-left-radius: 10px;
        // 			border-right: 2px solid #fff9f9;

        // 		}
        // 		&:nth-child(2) {
        // 			text-align: center;
        // 			border-right: 5px solid #fff9f9;
        // 			font-size: 20px;
        // 		}
        // 		// &:nth-child(3) {
        // 		// 	text-align: center;
        // 		// 	font-size: 20px;
        // 		// }					
        // 		&:nth-child(3) {
        // 			border-top-right-radius: 10px;
        // 			border-bottom-right-radius: 10px;
        // 			border-left: 2px solid #fff9f9;
        // 		}				

        // }

    }


}



a {
    position: relative;

    img {
        width: 48px;
        height: 48px;
    }
}

p {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 20px;
}

.image_upload {



    position: relative;

    #delimage {
        position: absolute;
        top: 0px;
        right: 10px;

        color: rgb(129, 61, 61);
        z-index: 2;

        &:hover {
            color: rgb(63, 31, 31);
        }

    }
}

.uploader {
    display: none;
}

.upload {

    width: 100%;
    height: 100%;





    .laber-up {
        width: 100%;
        height: 100%;

        position: relative;

        div {
            width: 100%;
            height: 100%;
            border: 1px solid rgb(193, 156, 156);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(217, 190, 190);
            position: relative;

            &:hover {
                color: rgb(100, 72, 72);
                border: 2px solid rgb(193, 156, 156);
            }

            img {
                width: 100%;
                height: 100%;
            }

            p {
                font-size: 0.4rem;
                position: absolute;
                top: 2.6rem;
                color: #333;
            }
        }
    }
}